In [1]:
import pandas as pd
import numpy as np
import streamlit as st

In [2]:
brasileirao = pd.read_excel('../data/brasileirao2023.xlsx')
brasileirao

     Temporada  Rodada Mandante  Score_m Visitante  Score_v
0         2023       1      PAL      2.0       CUI      1.0
1         2023       1      AME      0.0       FLU      3.0
2         2023       1      CAP      2.0       GOI      0.0
3         2023       1      BOT      2.0       SAO      1.0
4         2023       1      RED      2.0       BAH      1.0
..         ...     ...      ...      ...       ...      ...
375       2023      38      GOI      NaN       AME      NaN
376       2023      38      SAN      NaN       FOR      NaN
377       2023      38      SAO      NaN       FLA      NaN
378       2023      38      VAS      NaN       RED      NaN
379       2023      38      FLU      NaN       GRE      NaN

[380 rows x 6 columns]

In [3]:
brasileirao['Score_m']

0      2.0
1      0.0
2      2.0
3      2.0
4      2.0
      ...
375    NaN
376    NaN
377    NaN
378    NaN
379    NaN
Name: Score_m, Length: 380, dtype: float64

In [4]:
brasileirao[brasileirao['Score_m'].notnull()]['Rodada'].count()

330

In [5]:
brasileirao = brasileirao[brasileirao['Score_m'].notnull()]
brasileirao

     Temporada  Rodada Mandante  Score_m Visitante  Score_v
0         2023       1      PAL      2.0       CUI      1.0
1         2023       1      AME      0.0       FLU      3.0
2         2023       1      CAP      2.0       GOI      0.0
3         2023       1      BOT      2.0       SAO      1.0
4         2023       1      RED      2.0       BAH      1.0
..         ...     ...      ...      ...       ...      ...
325       2023      33      CRU      0.0       VAS      0.0
326       2023      33      GOI      0.0       SAN      1.0
327       2023      33      COR      1.0       CAM      1.0
328       2023      33      BOT      3.0       GRE      4.0
329       2023      33      FLA      3.0       PAL      0.0

[330 rows x 6 columns]

In [6]:
brasileirao.dtypes

Temporada      int64
Rodada         int64
Mandante      object
Score_m      float64
Visitante     object
Score_v      float64
dtype: object

In [7]:
times = brasileirao['Mandante'].unique()
tabela = pd.DataFrame()
for time in times:
    vit = emp = der = pro = con = jog = 0
    # emp = 0
    # der = 0
    # pro = 0
    # con = 0
    # jog = 0
    mandante = brasileirao[brasileirao['Mandante'] == time]
    for indice, partida in mandante.iterrows():
        if partida['Score_m'] > partida['Score_v']:
            vit += 1 
        elif partida['Score_m'] == partida['Score_v']:
            emp += 1
        else:
            der += 1
        pro += partida['Score_m']
        con += partida['Score_v']
        jog += 1
    visitante = brasileirao[brasileirao['Visitante'] == time]
    for indice, partida in visitante.iterrows():
        if partida['Score_v'] > partida['Score_m']:
            vit += 1
        elif partida['Score_v'] == partida['Score_m']:
            emp += 1
        else:
            der += 1
        pro += partida['Score_v']
        con += partida['Score_m']
        jog += 1
    new_row = pd.DataFrame({
        '1-Time': [time],
        '3-J' : [jog],
        '4-V' : [vit],
        '5-E' : [emp],
        '6-D' : [der],
        '7-GP': [pro],
        '8-GC': [con]
    })   
    tabela = pd.concat([tabela, new_row], ignore_index = True)
    
tabela['2-P'] = (tabela['4-V'] * 3) + tabela['5-E']
tabela['9-SG'] = tabela['7-GP'] - tabela['8-GC']   
tabela_sort = tabela.sort_values(by=['2-P','4-V','9-SG'], ascending=False)
tabela_sort

   1-Time  3-J  4-V  5-E  6-D  7-GP  8-GC  2-P  9-SG
3     BOT   33   18    6    9  51.0  28.0   60  23.0
9     GRE   33   18    5   10  57.0  49.0   59   8.0
0     PAL   33   17    8    8  53.0  30.0   59  23.0
4     RED   33   16   11    6  44.0  27.0   59  17.0
8     FLA   33   16    9    8  49.0  36.0   57  13.0
6     CAM   33   15    9    9  41.0  26.0   54  15.0
2     CAP   33   13   11    9  46.0  38.0   50   8.0
10    FLU   33   13    8   12  42.0  41.0   47   1.0
12    SAO   33   12   10   11  37.0  35.0   46   2.0
5     FOR   33   12    9   12  35.0  35.0   45   0.0
11    CUI   33   12    8   13  34.0  34.0   44   0.0
14    INT   33   11   10   12  38.0  40.0   43  -2.0
16    SAN   33   11    8   14  37.0  55.0   41 -18.0
7     COR   33    9   14   10  38.0  39.0   41  -1.0
13    CRU   33    9   12   12  29.0  27.0   39   2.0
15    VAS   33   10    8   15  33.0  42.0   38  -9.0
19    BAH   33   10    7   16  38.0  46.0   37  -8.0
18    GOI   33    8   11   14  33.0  47.0   35 -14.0
17    CFC   33    7    5   21  38.0  67.0   26 -29.0
1     AME   33    4    9   20  38.0  69.0   21 -31.0

In [8]:
tabela_sort[tabela_sort['7-GP'].notnull().sort_values(ascending=False)]['1-Time'].iloc[0]

C:\Users\User\AppData\Local\Temp\ipykernel_23144\1631230441.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tabela_sort[tabela_sort['7-GP'].notnull().sort_values(ascending=False)]['1-Time'].iloc[0]

'BOT'

In [9]:
a = brasileirao[brasileirao['Score_m'].notnull()]['Rodada'].unique().max()
a

33

In [10]:
from sklearn.cluster import KMeans
df_data = tabela[[
    '2-P',              
    '4-V',
    '5-E',
    '6-D',
    '9-SG'
]]
kmeans = KMeans(n_clusters=5, random_state=0).fit(df_data)
tabela['cluster'] = kmeans.labels_
# tabela['c_p'] = kmeans.cluster_centers_[kmeans.labels_,0]
# tabela['c_v'] = kmeans.cluster_centers_[kmeans.labels_,1]
# tabela['c_e'] = kmeans.cluster_centers_[kmeans.labels_,2]
# tabela['c_d'] = kmeans.cluster_centers_[kmeans.labels_,3]
# tabela['c_sg'] = kmeans.cluster_centers_[kmeans.labels_,4]
tabela

c:\Users\User\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

   1-Time  3-J  4-V  5-E  6-D  7-GP  8-GC  2-P  9-SG  cluster
0     PAL   33   17    8    8  53.0  30.0   59  23.0        1
1     AME   33    4    9   20  38.0  69.0   21 -31.0        3
2     CAP   33   13   11    9  46.0  38.0   50   8.0        4
3     BOT   33   18    6    9  51.0  28.0   60  23.0        1
4     RED   33   16   11    6  44.0  27.0   59  17.0        1
5     FOR   33   12    9   12  35.0  35.0   45   0.0        2
6     CAM   33   15    9    9  41.0  26.0   54  15.0        4
7     COR   33    9   14   10  38.0  39.0   41  -1.0        2
8     FLA   33   16    9    8  49.0  36.0   57  13.0        4
9     GRE   33   18    5   10  57.0  49.0   59   8.0        4
10    FLU   33   13    8   12  42.0  41.0   47   1.0        2
11    CUI   33   12    8   13  34.0  34.0   44   0.0        2
12    SAO   33   12   10   11  37.0  35.0   46   2.0        2
13    CRU   33    9   12   12  29.0  27.0   39   2.0        2
14    INT   33   11   10   12  38.0  40.0   43  -2.0        2
15    VAS   33   10    8   15  33.0  42.0   38  -9.0        0
16    SAN   33   11    8   14  37.0  55.0   41 -18.0        0
17    CFC   33    7    5   21  38.0  67.0   26 -29.0        3
18    GOI   33    8   11   14  33.0  47.0   35 -14.0        0
19    BAH   33   10    7   16  38.0  46.0   37  -8.0        0

In [11]:
print(kmeans.labels_)

[1 3 4 1 1 2 4 2 4 4 2 2 2 2 2 0 0 3 0 0]

In [12]:
kmeans.cluster_centers_

array([[ 37.75      ,   9.75      ,   8.5       ,  14.75      ,
        -12.25      ],
       [ 59.33333333,  17.        ,   8.33333333,   7.66666667,
         21.        ],
       [ 43.57142857,  11.14285714,  10.14285714,  11.71428571,
          0.28571429],
       [ 23.5       ,   5.5       ,   7.        ,  20.5       ,
        -30.        ],
       [ 55.        ,  15.5       ,   8.5       ,   9.        ,
         11.        ]])

In [13]:
df_cluster = pd.DataFrame()
for cluster, colunas in enumerate(kmeans.cluster_centers_):
    print(cluster)
    print(colunas)
    new_row = pd.DataFrame({
        'cluster': [cluster], 
        '2-P': [colunas[0]],              
        '4-V': [colunas[1]],
        '5-E': [colunas[2]],
        '6-D': [colunas[3]],
        '9-SG': [colunas[4]],
    })
    df_cluster = pd.concat([df_cluster, new_row], ignore_index=True)
df_cluster

0
[ 37.75   9.75   8.5   14.75 -12.25]
1
[59.33333333 17.          8.33333333  7.66666667 21.        ]
2
[43.57142857 11.14285714 10.14285714 11.71428571  0.28571429]
3
[ 23.5   5.5   7.   20.5 -30. ]
4
[55.  15.5  8.5  9.  11. ]

   cluster        2-P        4-V        5-E        6-D       9-SG
0        0  37.750000   9.750000   8.500000  14.750000 -12.250000
1        1  59.333333  17.000000   8.333333   7.666667  21.000000
2        2  43.571429  11.142857  10.142857  11.714286   0.285714
3        3  23.500000   5.500000   7.000000  20.500000 -30.000000
4        4  55.000000  15.500000   8.500000   9.000000  11.000000

In [14]:
df_cluster_sort = df_cluster.sort_values(by='2-P', ascending=False)
df_cluster_sort

   cluster        2-P        4-V        5-E        6-D       9-SG
1        1  59.333333  17.000000   8.333333   7.666667  21.000000
4        4  55.000000  15.500000   8.500000   9.000000  11.000000
2        2  43.571429  11.142857  10.142857  11.714286   0.285714
0        0  37.750000   9.750000   8.500000  14.750000 -12.250000
3        3  23.500000   5.500000   7.000000  20.500000 -30.000000

In [15]:
df_cluster_sort['grupo'] = ['TÃ­tulo','Libertadores','Sul-Americana','Limbo','Rebaixamento']
df_cluster_sort

,cluster,2-P,4-V,5-E,6-D,9-SG,grupo
1,1,59.333333,17.000000,8.333333,7.666667,21.000000,TÃ­tulo
4,4,55.000000,15.500000,8.500000,9.000000,11.000000,Libertadores
2,2,43.571429,11.142857,10.142857,11.714286,0.285714,Sul-Americana
0,0,37.750000,9.750000,8.500000,14.750000,-12.250000,Limbo
3,3,23.500000,5.500000,7.000000,20.500000,-30.000000,Rebaixamento

In [16]:
df_cluster_grupo = df_cluster_sort[['cluster','grupo']]
df_cluster_grupo

   cluster          grupo
1        1         TÃ­tulo
4        4   Libertadores
2        2  Sul-Americana
0        0          Limbo
3        3   Rebaixamento

In [17]:
tabela

   1-Time  3-J  4-V  5-E  6-D  7-GP  8-GC  2-P  9-SG  cluster
0     PAL   33   17    8    8  53.0  30.0   59  23.0        1
1     AME   33    4    9   20  38.0  69.0   21 -31.0        3
2     CAP   33   13   11    9  46.0  38.0   50   8.0        4
3     BOT   33   18    6    9  51.0  28.0   60  23.0        1
4     RED   33   16   11    6  44.0  27.0   59  17.0        1
5     FOR   33   12    9   12  35.0  35.0   45   0.0        2
6     CAM   33   15    9    9  41.0  26.0   54  15.0        4
7     COR   33    9   14   10  38.0  39.0   41  -1.0        2
8     FLA   33   16    9    8  49.0  36.0   57  13.0        4
9     GRE   33   18    5   10  57.0  49.0   59   8.0        4
10    FLU   33   13    8   12  42.0  41.0   47   1.0        2
11    CUI   33   12    8   13  34.0  34.0   44   0.0        2
12    SAO   33   12   10   11  37.0  35.0   46   2.0        2
13    CRU   33    9   12   12  29.0  27.0   39   2.0        2
14    INT   33   11   10   12  38.0  40.0   43  -2.0        2
15    VAS   33   10    8   15  33.0  42.0   38  -9.0        0
16    SAN   33   11    8   14  37.0  55.0   41 -18.0        0
17    CFC   33    7    5   21  38.0  67.0   26 -29.0        3
18    GOI   33    8   11   14  33.0  47.0   35 -14.0        0
19    BAH   33   10    7   16  38.0  46.0   37  -8.0        0

In [18]:
tabela_sort = tabela.sort_values(by=['2-P','4-V','9-SG'], ascending=False)
tabela_sort.style.background_gradient(cmap='Blues')
# tabela_sort.style.background_gradient(cmap='Blues').format("{:.2f}").render()

In [19]:
#NORMALIZAR A TABELA E COLORIR...

#grafico com pontuacao original e dos cluster

#grafico dos cluster

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [20]:
df_data = tabela[[
    'cluster',              
    '2-P',              
    '4-V',
    '5-E',
    '6-D',
    '9-SG'
]]

In [21]:
X_Train = df_data.drop(columns=['cluster'], axis=1)
X_Test = df_data.drop(columns=['cluster'], axis=1)
y_Train = df_data['cluster']
y_Test = df_data['cluster']

In [22]:
sc_x = StandardScaler()
X_Train = sc_x.fit_transform(X_Train)
X_Test = sc_x.fit_transform(X_Test)

In [23]:
logreg = LogisticRegression(solver="lbfgs", max_iter=500)
logreg.fit(X_Train, y_Train)
pred_logreg = logreg.predict(X_Test)
pred_proba = logreg.predict_proba(X_Test)

In [24]:
tabela["cluster_pred"] = pred_logreg

In [25]:
lista_proba = pred_proba.tolist()

data = []  # Lista para armazenar os dicionÃ¡rios de dados

index = 0
for proba in lista_proba:
    for i in range(0, len(proba)):
        new_row = {"index": index, "prob": i, "valor": round(proba[i], 4)}
        data.append(new_row)
    index += 1

df_prob = pd.DataFrame(data)  # Cria o DataFrame a partir da lista de dicionÃ¡rios
df_prob = df_prob.pivot_table(
    index="index", columns="prob", values="valor", aggfunc="sum"
)
df_prob = df_prob.reset_index()
df_prob = df_prob.set_index("index")

In [26]:
df_prob = df_prob.rename(columns={
    0.0: 'cl_o',
    1.0: 'cl_1',
    2.0: 'cl_2',
    3.0: 'cl_3',
    4.0: 'cl_4'
})

In [27]:
tabela = pd.merge(tabela, df_prob, left_index=True, right_index=True)
tabela

,1-Time,3-J,4-V,5-E,6-D,7-GP,8-GC,2-P,9-SG,cluster,cluster_pred,cl_o,cl_1,cl_2,cl_3,cl_4
0,PAL,33,17,8,8,53.0,30.0,59,23.0,1,1,0.0050,0.5557,0.0786,0.0000,0.3607
1,AME,33,4,9,20,38.0,69.0,21,-31.0,3,3,0.2635,0.0000,0.0278,0.7086,0.0001
2,CAP,33,13,11,9,46.0,38.0,50,8.0,4,2,0.0505,0.1469,0.5005,0.0012,0.3010
3,BOT,33,18,6,9,51.0,28.0,60,23.0,1,1,0.0058,0.5637,0.0523,0.0001,0.3782
4,RED,33,16,11,6,44.0,27.0,59,17.0,1,1,0.0046,0.4725,0.1255,0.0000,0.3974
5,FOR,33,12,9,12,35.0,35.0,45,0.0,2,2,0.2200,0.0402,0.5503,0.0154,0.1741
6,CAM,33,15,9,9,41.0,26.0,54,15.0,4,4,0.0245,0.3255,0.2480,0.0004,0.4015
7,COR,33,9,14,10,38.0,39.0,41,-1.0,2,2,0.0913,0.0141,0.8264,0.0049,0.0633
8,FLA,33,16,9,8,49.0,36.0,57,13.0,4,4,0.0152,0.3682,0.1586,0.0002,0.4578
9,GRE,33,18,5,10,57.0,49.0,59,8.0,4,4,0.0320,0.3175,0.0778,0.0006,0.5722
10,FLU,33,13,8,12,42.0,41.0,47,1.0,2,2,0.2151,0.0624,0.4649,0.0134,0.2443
11,CUI,33,12,8,13,34.0,34.0,44,0.0,2,2,0.2881,0.0322,0.5020,0.0275,0.1502
12,SAO,33,12,10,11,37.0,35.0,46,2.0,2,2,0.1460,0.0553,0.5943,0.0074,0.1970
13,CRU,33,9,12,12,29.0,27.0,39,2.0,2,2,0.1461,0.0121,0.7754,0.0141,0.0523
14,INT,33,11,10,12,38.0,40.0,43,-2.0,2,2,0.2262,0.0231,0.6149,0.0181,0.1177
15,VAS,33,10,8,15,33.0,42.0,38,-9.0,0,0,0.4876,0.0035,0.3561,0.1171,0.0357
16,SAN,33,11,8,14,37.0,55.0,41,-18.0,0,0,0.5715,0.0033,0.2764,0.0977,0.0511
17,CFC,33,7,5,21,38.0,67.0,26,-29.0,3,3,0.2773,0.0000,0.0124,0.7101,0.0002
18,GOI,33,8,11,14,33.0,47.0,35,-14.0,0,2,0.4093,0.0013,0.4760,0.0947,0.0186
19,BAH,33,10,7,16,38.0,46.0,37,-8.0,0,0,0.5204,0.0026,0.2819,0.1685,0.0266

In [28]:
df_pred = tabela[[
    '1-Time',
    'cl_o',
    'cl_1',
    'cl_2',
    'cl_3',
    'cl_4',
]]
df_pred = df_pred.copy()
df_pred

   1-Time    cl_o    cl_1    cl_2    cl_3    cl_4
0     PAL  0.0050  0.5557  0.0786  0.0000  0.3607
1     AME  0.2635  0.0000  0.0278  0.7086  0.0001
2     CAP  0.0505  0.1469  0.5005  0.0012  0.3010
3     BOT  0.0058  0.5637  0.0523  0.0001  0.3782
4     RED  0.0046  0.4725  0.1255  0.0000  0.3974
5     FOR  0.2200  0.0402  0.5503  0.0154  0.1741
6     CAM  0.0245  0.3255  0.2480  0.0004  0.4015
7     COR  0.0913  0.0141  0.8264  0.0049  0.0633
8     FLA  0.0152  0.3682  0.1586  0.0002  0.4578
9     GRE  0.0320  0.3175  0.0778  0.0006  0.5722
10    FLU  0.2151  0.0624  0.4649  0.0134  0.2443
11    CUI  0.2881  0.0322  0.5020  0.0275  0.1502
12    SAO  0.1460  0.0553  0.5943  0.0074  0.1970
13    CRU  0.1461  0.0121  0.7754  0.0141  0.0523
14    INT  0.2262  0.0231  0.6149  0.0181  0.1177
15    VAS  0.4876  0.0035  0.3561  0.1171  0.0357
16    SAN  0.5715  0.0033  0.2764  0.0977  0.0511
17    CFC  0.2773  0.0000  0.0124  0.7101  0.0002
18    GOI  0.4093  0.0013  0.4760  0.0947  0.0186
19    BAH  0.5204  0.0026  0.2819  0.1685  0.0266

In [29]:
df_pred.style.background_gradient(cmap='Blues', axis=1)

In [30]:
rodadas = brasileirao['Rodada'].unique()
times = brasileirao['Mandante'].unique()
pontuacao = pd.DataFrame()
data = []  # Lista para armazenar os dicionÃ¡rios de dados

for rodada in rodadas:
    for time in times:
        resultado = brasileirao[(brasileirao['Rodada'] == rodada) & ((brasileirao['Mandante'] == time) | (brasileirao['Visitante'] == time))]
        if len(resultado) > 0:
            resultado = resultado.reset_index()
            if resultado['Mandante'][0] == time:
                if resultado['Score_m'][0] > resultado['Score_v'][0]:
                    pontos = 3
                elif resultado['Score_m'][0] == resultado['Score_v'][0]:
                    pontos = 1
                else:
                    pontos = 0
            else:                  
                if resultado['Score_v'][0] > resultado['Score_m'][0]:
                    pontos = 3
                elif resultado['Score_v'][0] == resultado['Score_m'][0]:
                    pontos = 1
                else:
                    pontos = 0
            new_row = {
                'time': time,
                'rodada': rodada,
                'pontos': pontos
            }        
            data.append(new_row)  # Adiciona o dicionÃ¡rio Ã  lista de dados

pontuacao = pd.DataFrame(data)  # Cria o DataFrame a partir da lista de dicionÃ¡rios

pt_pontuacao = pontuacao.pivot_table(index='rodada', columns='time', values='pontos', aggfunc='sum')
pt_pontuacao_cum = pt_pontuacao.cumsum()
pt_pontuacao_cum

time,AME,BAH,BOT,CAM,CAP,CFC,COR,CRU,CUI,FLA,FLU,FOR,GOI,GRE,INT,PAL,RED,SAN,SAO,VAS
rodada,,,,,,,,,,,,,,,,,,,,
1,0,0,3,0,3,0,3,0,0,3,3,1,0,3,1,3,3,0,0,3
2,0,0,6,1,3,0,3,3,1,3,6,4,3,3,4,4,4,1,3,4
3,0,3,9,4,3,1,3,6,1,3,6,7,3,6,7,7,4,4,4,4
4,0,6,12,4,6,1,4,9,4,3,7,8,3,7,7,10,5,4,7,5
5,1,6,15,7,9,2,4,9,4,6,10,9,3,7,7,13,6,7,8,6
6,1,6,15,10,12,2,5,12,4,9,13,10,6,8,7,14,7,10,9,6
7,4,7,18,13,12,2,5,12,7,12,13,10,7,11,7,15,10,11,12,6
8,4,7,21,14,12,3,8,13,8,13,13,13,7,14,10,16,13,11,15,6
9,7,8,21,17,15,3,8,13,11,16,16,14,7,17,11,19,13,12,15,6
10,8,9,24,18,16,4,9,14,12,19,17,14,8,17,14,22,14,13,15,6
11,8,12,27,19,16,4,12,14,12,19,18,17,11,20,17,22,17,13,18,6
12,8,12,30,19,19,4,12,17,12,22,21,20,11,23,20,22,20,13,18,9
13,9,12,33,20,20,7,12,18,15,25,21,20,11,26,21,23,23,13,21,9
14,9,13,36,20,20,10,15,21,16,26,24,23,11,26,21,24,24,16,22,9
15,9,13,39,21,23,11,16,22,19,27,25,23,12,27,22,25,24,16,25,12
16,10,14,40,21,26,14,17,22,22,28,25,23,15,30,23,28,25,17,25,12
17,10,15,43,21,27,14,20,23,25,31,28,23,16,31,23,31,28,17,26,12
18,10,18,44,24,28,14,21,24,28,31,31,23,19,31,24,31,31,18,26,15
19,10,18,47,27,31,14,24,24,28,32,31,26,22,34,24,34,32,18,27,16
20,10,21,48,27,32,14,25,25,28,35,34,29,23,34,24,37,32,21,28,19
21,13,21,51,30,33,14,26,25,28,36,35,32,24,37,25,40,35,21,28,19
22,16,22,51,31,34,14,27,26,28,39,38,32,25,40,26,41,36,21,31,20
23,17,25,51,34,37,14,27,29,29,39,38,35,25,40,29,44,39,21,31,23
24,17,25,51,37,40,14,30,29,29,40,41,38,26,43,29,44,42,24,31,26
25,18,25,52,40,40,17,30,30,32,43,41,39,27,44,29,44,45,27,34,26
26,18,28,55,40,41,20,31,31,33,44,41,42,27,44,32,44,46,30,35,27
27,18,31,58,43,44,20,32,31,36,47,42,42,30,44,32,44,49,30,35,30
28,19,34,59,43,45,20,33,34,37,50,42,42,31,44,35,47,52,30,38,30
29,19,34,60,46,48,20,36,37,37,50,45,43,31,47,38,50,52,33,38,30
30,19,34,60,49,49,23,37,38,40,51,45,44,32,50,38,53,53,34,39,31
31,20,37,60,52,49,23,40,38,40,51,45,44,32,53,39,56,56,37,42,34
32,21,37,60,53,49,23,40,38,41,54,46,44,35,56,42,59,59,38,43,37
33,21,37,60,54,50,26,41,39,44,57,47,45,35,59,43,59,59,41,46,38

In [31]:
pt_pontuacao_cum = pt_pontuacao_cum.reset_index()
pt_pontuacao_cum

time,rodada,AME,BAH,BOT,CAM,CAP,CFC,COR,CRU,CUI,...,FLU,FOR,GOI,GRE,INT,PAL,RED,SAN,SAO,VAS
0,1,0,0,3,0,3,0,3,0,0,...,3,1,0,3,1,3,3,0,0,3
1,2,0,0,6,1,3,0,3,3,1,...,6,4,3,3,4,4,4,1,3,4
2,3,0,3,9,4,3,1,3,6,1,...,6,7,3,6,7,7,4,4,4,4
3,4,0,6,12,4,6,1,4,9,4,...,7,8,3,7,7,10,5,4,7,5
4,5,1,6,15,7,9,2,4,9,4,...,10,9,3,7,7,13,6,7,8,6
5,6,1,6,15,10,12,2,5,12,4,...,13,10,6,8,7,14,7,10,9,6
6,7,4,7,18,13,12,2,5,12,7,...,13,10,7,11,7,15,10,11,12,6
7,8,4,7,21,14,12,3,8,13,8,...,13,13,7,14,10,16,13,11,15,6
8,9,7,8,21,17,15,3,8,13,11,...,16,14,7,17,11,19,13,12,15,6
9,10,8,9,24,18,16,4,9,14,12,...,17,14,8,17,14,22,14,13,15,6
10,11,8,12,27,19,16,4,12,14,12,...,18,17,11,20,17,22,17,13,18,6
11,12,8,12,30,19,19,4,12,17,12,...,21,20,11,23,20,22,20,13,18,9
12,13,9,12,33,20,20,7,12,18,15,...,21,20,11,26,21,23,23,13,21,9
13,14,9,13,36,20,20,10,15,21,16,...,24,23,11,26,21,24,24,16,22,9
14,15,9,13,39,21,23,11,16,22,19,...,25,23,12,27,22,25,24,16,25,12
15,16,10,14,40,21,26,14,17,22,22,...,25,23,15,30,23,28,25,17,25,12
16,17,10,15,43,21,27,14,20,23,25,...,28,23,16,31,23,31,28,17,26,12
17,18,10,18,44,24,28,14,21,24,28,...,31,23,19,31,24,31,31,18,26,15
18,19,10,18,47,27,31,14,24,24,28,...,31,26,22,34,24,34,32,18,27,16
19,20,10,21,48,27,32,14,25,25,28,...,34,29,23,34,24,37,32,21,28,19
20,21,13,21,51,30,33,14,26,25,28,...,35,32,24,37,25,40,35,21,28,19
21,22,16,22,51,31,34,14,27,26,28,...,38,32,25,40,26,41,36,21,31,20
22,23,17,25,51,34,37,14,27,29,29,...,38,35,25,40,29,44,39,21,31,23
23,24,17,25,51,37,40,14,30,29,29,...,41,38,26,43,29,44,42,24,31,26
24,25,18,25,52,40,40,17,30,30,32,...,41,39,27,44,29,44,45,27,34,26
25,26,18,28,55,40,41,20,31,31,33,...,41,42,27,44,32,44,46,30,35,27
26,27,18,31,58,43,44,20,32,31,36,...,42,42,30,44,32,44,49,30,35,30
27,28,19,34,59,43,45,20,33,34,37,...,42,42,31,44,35,47,52,30,38,30
28,29,19,34,60,46,48,20,36,37,37,...,45,43,31,47,38,50,52,33,38,30
29,30,19,34,60,49,49,23,37,38,40,...,45,44,32,50,38,53,53,34,39,31
30,31,20,37,60,52,49,23,40,38,40,...,45,44,32,53,39,56,56,37,42,34
31,32,21,37,60,53,49,23,40,38,41,...,46,44,35,56,42,59,59,38,43,37
32,33,21,37,60,54,50,26,41,39,44,...,47,45,35,59,43,59,59,41,46,38

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
colunas = pt_pontuacao_cum.columns
df_regressao = pd.DataFrame()
data_regressao = []  # Lista para armazenar os dicionÃ¡rios de resultados de regressÃ£o

for coluna in colunas:
    if coluna != 'rodada':
        X = pt_pontuacao_cum['rodada'].values.reshape(-1, 1)
        y = pt_pontuacao_cum[coluna].values.reshape(-1, 1)
        regressor = LinearRegression()
        regressor.fit(X, y)
        A = regressor.intercept_[0]
        B = regressor.coef_[0][0]
        x = A + (B * 38)
        new_row_regressao = {
            'time': coluna,
            'intercept': round(A, 2),
            'slope': round(B, 2),
            'pontuacao_final': round(x, 2)
        }
        data_regressao.append(new_row_regressao)

df_regressao = pd.DataFrame(data_regressao)
df_regressao.sort_values(by='pontuacao_final', ascending=False)

   time  intercept  slope  pontuacao_final
2   BOT       6.31   1.87            77.48
16  RED      -2.59   1.86            68.09
15  PAL       2.52   1.68            66.32
9   FLA      -0.25   1.73            65.60
13  GRE       0.77   1.69            65.16
4   CAP       0.14   1.58            60.24
3   CAM      -1.29   1.61            59.78
10  FLU       3.07   1.44            57.71
11  FOR       1.34   1.42            55.18
18  SAO       2.32   1.28            50.98
8   CUI      -2.16   1.39            50.83
14  INT       1.69   1.20            47.43
6   COR      -2.13   1.29            47.06
7   CRU       3.10   1.11            45.34
1   BAH      -2.06   1.17            42.51
17  SAN       0.14   1.10            41.96
12  GOI      -1.78   1.14            41.35
19  VAS      -2.51   1.11            39.81
5   CFC      -2.59   0.82            28.40
0   AME      -1.34   0.71            25.64

In [34]:
df_regressao = df_regressao[['time','slope']]
df_regressao

   time  slope
0   AME   0.71
1   BAH   1.17
2   BOT   1.87
3   CAM   1.61
4   CAP   1.58
5   CFC   0.82
6   COR   1.29
7   CRU   1.11
8   CUI   1.39
9   FLA   1.73
10  FLU   1.44
11  FOR   1.42
12  GOI   1.14
13  GRE   1.69
14  INT   1.20
15  PAL   1.68
16  RED   1.86
17  SAN   1.10
18  SAO   1.28
19  VAS   1.11

In [35]:
tabela = tabela.merge(df_regressao, left_on='1-Time', right_on='time', how='left')
tabela

,1-Time,3-J,4-V,5-E,6-D,7-GP,8-GC,2-P,9-SG,cluster,cluster_pred,cl_o,cl_1,cl_2,cl_3,cl_4,time,slope
0,PAL,33,17,8,8,53.0,30.0,59,23.0,1,1,0.0050,0.5557,0.0786,0.0000,0.3607,PAL,1.68
1,AME,33,4,9,20,38.0,69.0,21,-31.0,3,3,0.2635,0.0000,0.0278,0.7086,0.0001,AME,0.71
2,CAP,33,13,11,9,46.0,38.0,50,8.0,4,2,0.0505,0.1469,0.5005,0.0012,0.3010,CAP,1.58
3,BOT,33,18,6,9,51.0,28.0,60,23.0,1,1,0.0058,0.5637,0.0523,0.0001,0.3782,BOT,1.87
4,RED,33,16,11,6,44.0,27.0,59,17.0,1,1,0.0046,0.4725,0.1255,0.0000,0.3974,RED,1.86
5,FOR,33,12,9,12,35.0,35.0,45,0.0,2,2,0.2200,0.0402,0.5503,0.0154,0.1741,FOR,1.42
6,CAM,33,15,9,9,41.0,26.0,54,15.0,4,4,0.0245,0.3255,0.2480,0.0004,0.4015,CAM,1.61
7,COR,33,9,14,10,38.0,39.0,41,-1.0,2,2,0.0913,0.0141,0.8264,0.0049,0.0633,COR,1.29
8,FLA,33,16,9,8,49.0,36.0,57,13.0,4,4,0.0152,0.3682,0.1586,0.0002,0.4578,FLA,1.73
9,GRE,33,18,5,10,57.0,49.0,59,8.0,4,4,0.0320,0.3175,0.0778,0.0006,0.5722,GRE,1.69
10,FLU,33,13,8,12,42.0,41.0,47,1.0,2,2,0.2151,0.0624,0.4649,0.0134,0.2443,FLU,1.44
11,CUI,33,12,8,13,34.0,34.0,44,0.0,2,2,0.2881,0.0322,0.5020,0.0275,0.1502,CUI,1.39
12,SAO,33,12,10,11,37.0,35.0,46,2.0,2,2,0.1460,0.0553,0.5943,0.0074,0.1970,SAO,1.28
13,CRU,33,9,12,12,29.0,27.0,39,2.0,2,2,0.1461,0.0121,0.7754,0.0141,0.0523,CRU,1.11
14,INT,33,11,10,12,38.0,40.0,43,-2.0,2,2,0.2262,0.0231,0.6149,0.0181,0.1177,INT,1.20
15,VAS,33,10,8,15,33.0,42.0,38,-9.0,0,0,0.4876,0.0035,0.3561,0.1171,0.0357,VAS,1.11
16,SAN,33,11,8,14,37.0,55.0,41,-18.0,0,0,0.5715,0.0033,0.2764,0.0977,0.0511,SAN,1.10
17,CFC,33,7,5,21,38.0,67.0,26,-29.0,3,3,0.2773,0.0000,0.0124,0.7101,0.0002,CFC,0.82
18,GOI,33,8,11,14,33.0,47.0,35,-14.0,0,2,0.4093,0.0013,0.4760,0.0947,0.0186,GOI,1.14
19,BAH,33,10,7,16,38.0,46.0,37,-8.0,0,0,0.5204,0.0026,0.2819,0.1685,0.0266,BAH,1.17

In [36]:
from sklearn.cluster import KMeans
df_data = tabela[[
    '2-P',              
    '4-V',
    '5-E',
    '6-D',
    '9-SG',
    'slope'
]]
kmeans = KMeans(n_clusters=5, random_state=0).fit(df_data)
tabela['cluster'] = kmeans.labels_
tabela['c_p'] = kmeans.cluster_centers_[kmeans.labels_,0]
tabela['c_v'] = kmeans.cluster_centers_[kmeans.labels_,1]
tabela['c_e'] = kmeans.cluster_centers_[kmeans.labels_,2]
tabela['c_d'] = kmeans.cluster_centers_[kmeans.labels_,3]
tabela['c_sg'] = kmeans.cluster_centers_[kmeans.labels_,4]
tabela['c_slope'] = kmeans.cluster_centers_[kmeans.labels_,5]
tabela_sort = tabela.sort_values(by=['2-P','4-V','9-SG'], ascending=False)
tabela_sort.style.background_gradient(cmap='Blues')

c:\Users\User\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [37]:
pontuacao_2 = pt_pontuacao_cum[pt_pontuacao_cum['rodada'] > 19]
pontuacao_2

time,rodada,AME,BAH,BOT,CAM,CAP,CFC,COR,CRU,CUI,...,FLU,FOR,GOI,GRE,INT,PAL,RED,SAN,SAO,VAS
19,20,10,21,48,27,32,14,25,25,28,...,34,29,23,34,24,37,32,21,28,19
20,21,13,21,51,30,33,14,26,25,28,...,35,32,24,37,25,40,35,21,28,19
21,22,16,22,51,31,34,14,27,26,28,...,38,32,25,40,26,41,36,21,31,20
22,23,17,25,51,34,37,14,27,29,29,...,38,35,25,40,29,44,39,21,31,23
23,24,17,25,51,37,40,14,30,29,29,...,41,38,26,43,29,44,42,24,31,26
24,25,18,25,52,40,40,17,30,30,32,...,41,39,27,44,29,44,45,27,34,26
25,26,18,28,55,40,41,20,31,31,33,...,41,42,27,44,32,44,46,30,35,27
26,27,18,31,58,43,44,20,32,31,36,...,42,42,30,44,32,44,49,30,35,30
27,28,19,34,59,43,45,20,33,34,37,...,42,42,31,44,35,47,52,30,38,30
28,29,19,34,60,46,48,20,36,37,37,...,45,43,31,47,38,50,52,33,38,30
29,30,19,34,60,49,49,23,37,38,40,...,45,44,32,50,38,53,53,34,39,31
30,31,20,37,60,52,49,23,40,38,40,...,45,44,32,53,39,56,56,37,42,34
31,32,21,37,60,53,49,23,40,38,41,...,46,44,35,56,42,59,59,38,43,37
32,33,21,37,60,54,50,26,41,39,44,...,47,45,35,59,43,59,59,41,46,38

In [38]:
colunas = pontuacao_2.columns
df_regressao = pd.DataFrame()
colunas = pontuacao_2.columns
regressao_data = []

for coluna in colunas:
    if coluna != 'rodada':
        X = pontuacao_2['rodada'].values.reshape(-1, 1)
        y = pontuacao_2[coluna].values.reshape(-1, 1)
        regressor = LinearRegression()
        regressor.fit(X, y)
        A = regressor.intercept_[0]
        B = regressor.coef_[0][0]
        x = A + (B * 38)
        regressao_data.append({
            'time': coluna,
            'intercept': round(A, 2),
            'slope': round(B, 2),
            'pontuacao_final': round(x, 2)
        })

df_regressao = pd.DataFrame(regressao_data)
df_regressao.sort_values(by='pontuacao_final', ascending=False)

   time  intercept  slope  pontuacao_final
16  RED      -9.53   2.13            71.23
2   BOT      28.17   1.03            67.26
15  PAL       4.65   1.61            65.79
3   CAM     -14.26   2.10            65.49
9   FLA       1.75   1.65            64.38
13  GRE       2.20   1.63            64.09
4   CAP       2.20   1.51            59.58
11  FOR       7.62   1.20            53.13
10  FLU      16.62   0.94            52.20
18  SAO       0.64   1.32            50.83
14  INT      -6.50   1.49            50.04
8   CUI      -0.17   1.31            49.44
17  SAN     -13.72   1.62            47.75
6   COR      -1.80   1.29            47.39
7   CRU       0.23   1.20            45.99
1   BAH      -8.91   1.44            45.96
19  VAS     -10.70   1.45            44.59
12  GOI       3.80   0.94            39.63
5   CFC      -6.80   0.96            29.78
0   AME       0.45   0.65            25.00